<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.inha.mapper.MemberMapper">

<insert id="addMember" parameterType="kr.ac.inha.dto.MemberDto">

INSERT INTO `final_member` (`ID`, `PW`, `NICKNAME`, `NAME`, `MAIL`, `HELLO`) VALUES (#{id}, #{pw}, #{nickname}, #{name}, #{mail}, #{hello})

</insert>

<select id = "getUser" parameterType="String" resultType="kr.ac.inha.dto.MemberDto">

SELECT * FROM final_member
WHERE ID = #{id} AND PW = #{pw};


</select>

<select id = "getUserById" parameterType="String" resultType="kr.ac.inha.dto.MemberDto">

SELECT * FROM final_member
WHERE ID = #{id};

</select>

<update id="updateMember" parameterType="kr.ac.inha.dto.MemberDto">

UPDATE `final_member` SET `ID` = #{id}, `PW` = #{pw}, `NICKNAME` = #{nickname}, `NAME` = #{name}, `MAIL` = #{mail}, `HELLO` = #{hello} WHERE (`ID` = #{id});

</update>

</mapper>
